venv/
db/
logs/
docs/
tests/
__pycache__/
*.pyc
.git
.gitignore
.github
docker-compose.yml
Dockerfile
README.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
TODO.md
mkdocs.yml
docs_requirements.txt
setup.py
MANIFEST.in
*.md
